@import "~antd/dist/antd.css";
@import "~github-markdown-css/github-markdown.css";

// @tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
